<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Nabídky</title>
  <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div th:replace="fragments/navTop :: toplinks"></div>
<div>
  <h1>Nabídky</h1>
</div>
<div>
  <h1 th:text="'Vyber nabídku pro zobrazeni detailu'"></h1>
</div>
<h1 th:text="${errorMsg}"></h1>
<div>
  <form th:action="@{/offerdetail}" method="post">
    <label for="number">Číslo nabídky k zobrazení</label>
    <input type="number" id="number" name="number" required>
    <input type="submit" value="Zobrazit">
  </form>
</div>
<a th:href="'/offercreate'">Vytvoř novou nabídku</a>

</body>
</html>